@import url(./variables.css);


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: transparent;
}


.contact-container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1;
    
}

.contact-container .contact-contact-info h2{
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 500;
}

.contact-container .contact-contact-info ul.contact-info{
    position: relative;
    margin: 20px 0;
}


.contact-container .contact-contact-info ul.contact-info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contact-container .contact-contact-info ul.contact-info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
    margin-right: 2rem;
}

.contact-container .contact-contact-info ul.contact-info li span:nth-child(1) svg{
    max-width: 100%;
    fill: var(--text-ternary);
    /* margin-right: 2rem; */
}

.contact-container .contact-contact-info ul.contact-social{
    position: relative;
    display: flex;
}

.contact-container .contact-contact-info ul.contact-social li{
    list-style: none;
    margin-right: 15px;
}

.contact-container .contact-contact-info ul.contact-social li a{
    text-decoration: none;
}

.contact-container .contact-contact-info ul.contact-social li a svg{
    fill: var(--text-ternary);
    height: 3rem;
    width: 3rem;
}

.contact-container .contact-contact-info ul.contact-social li a:hover svg{
    fill: var(--text-quinary) ;
    width: 3.2rem;
    height: 3.2rem;
}



.contact-container .contact-contact-info{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    border-radius: 25px;
    background: var(--bg-primary-opacity);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, .15);

}

.contact-container .contact-contact-form{
    
    border-radius: 25px;
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: var(--bg-secondary-opacity);
    box-shadow: 0 50px 55px rgba(0, 0, 0, .25);
}



.contact-container .contact-contact-form h2{
    text-align: center;
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 500;
}

.contact-container .contact-contact-form .formBox{
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.contact-container .contact-contact-form .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}

.contact-container .contact-contact-form .formBox p{
    color: var(--text-primary);
    font-size: 1rem;
    transition: .3s;
}

.contact-container .contact-contact-form .formBox .inputBox.w100{
    width: 100%;
}

.contact-container .contact-contact-form .formBox .inputBox input{
    background: transparent;
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-primary);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-secondary);
}

.contact-container .contact-contact-form .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    color: var(--text-primary);
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}


.contact-container .contact-contact-form .formBox .inputBox input:focus ~ span,
.contact-container .contact-contact-form .formBox .inputBox input:valid ~ span{
    transform: translateY(-30px);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-secondary);
}

.contact-container .contact-contact-form .formBox .inputBox input[type="submit"]{
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: none;
    display: block;
    margin: 0 auto;
    
    max-width: 160px;
    padding: 10px;
}

.contact-container .contact-contact-form .formBox .inputBox input[type="submit"]:hover{
    padding: 1rem;
    background: var(--bg-quaternary);
    transition: 0.3s;
    font-weight: bold;
}

@media (max-width : 1200px){
    .contact-container{
        border-radius: 25px;
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, .25);
    }

    .contact-container .contact-contact-info{
        
        top: 0;
        border-radius: 25px 0 0 25px;
        height: 550px;
        position: relative;
        box-shadow: none;
        
    }

    .contact-container .contact-contact-form{
        border-radius:  0 25px 25px 0;
        position: relative;
        width: calc(100% - 350px);
        
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;

    }
}

@media (max-width : 991px){
    
    .contact-container{
        
        display: flex;
        flex-direction: column-reverse;
        
    }

    .contact-container .contact-contact-form{
        border-radius: 25px 25px 0 0;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 70px 50px;
    }

    .contact-container .contact-contact-info{
        border-radius: 0 0 25px 25px ;
        top: 0;
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .contact-container .contact-contact-info ul.contact-social{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width : 600px){
    .contact-container .contact-contact-form h2{
        text-align: center;
        font-size: 1.5rem;
    }
    .contact-container .contact-contact-form{
        padding: 25px;
    }

    .contact-container .contact-contact-info{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
}