@import url(./variables.css);
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-animate{
    margin-left: 5rem;
    width: calc(100vw - 5.28rem);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-primary);
} 

.hero{ 
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1{
    color: var(--text-ternary);
    text-align: center;
    font-size: 8vw;
    line-height: 1em;
    z-index: 80;
    font-weight: 900;
    text-shadow: 0 0.04em 0 var(--text-quinary);
}

.hero h1 span{
    color: var(--text-quinary);
    font-size: 0.4em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
}

.block{
    position: absolute;
    width: 50px;
    height: 100px;
    background: var(--bg-primary);
    box-shadow: 8px 8px 40px rgba(0, 0, 0, .2);
    z-index: 50;
}


@media only screen and (max-width:600px){
    .container-animate{
        margin-left: 0;
        width: 100vw;
    }
}