@import url(./variables.css);

:root{
    --transition-speed: 600ms;
}

body::-webkit-scrollbar{
    width: 2px;
  
}

body::-webkit-scrollbar-track{
    background: var(--bg-primary);

}

body::-webkit-scrollbar-thumb{
    background: var(--bg-secondary);
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    
    position: fixed;
    background-color: var(--bg-secondary);
    z-index: 100;
    transition: width 600ms ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .5) ;
    overflow: scroll; 
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar{
  
  display: none;
    width: 0.18rem;
    height: 0.18rem;
}


.navbar::-webkit-scrollbar-track{
    background: var(--bg-primary);

}

.navbar::-webkit-scrollbar-thumb{
    background: var(--bg-secondary);
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

 .nav-item:nth-last-child(1){
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    fill: var(--text-primary);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-ternary);
    color: var(--bg-primary);
    fill: var(--bg-primary);
}

.link-text{
    display: none;
    margin-left: 1rem;
    font-weight: 700;
}

.nav-link svg{
    fill: inherit;
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-link img{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}



.fa-primary{
    color: var(--text-ternary);

}

.fa-secondary{
    color: var(--text-secondary);
}


.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text{
    display: inline;
    position: absolute;
    font-size: medium;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}










/*Small screens*/
@media only screen and (max-width:600px){
  body::-webkit-scrollbar{
    width: 0.10rem;

}

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow-y: hidden;
      }
    
      .logo {
        display: none;
      }
    
      .navbar-nav {
        flex-direction: row;
      }
    
      .nav-link {
        justify-content: center;
      }
    
      main {
        margin: 0;
      }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
      overflow-x: hidden;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }


  .dark {
    
    
    --text-primary: #E5EAF5;
    --text-secondary: #a0d2eb;
    --text-ternary: var(--color-secondary);

    --bg-primary: #31345A;
    --bg-secondary:#494D5F;
    --bg-primary-opacity: var(--color-septenary);
    --bg-secondary-opacity: var(--color-octonary);

    --color-opacity:var(--color-opacity-primary);
  }
  
  .light {
   
    --text-primary: #494d5f;
    --text-secondary: #8458b3;
    --text-ternary: var(--color-senary);
    --text-quinary: var(--color-quaternary);


    --bg-primary: #E5EAF5;
    --bg-secondary: #a0d2eb;
    --bg-ternary:var(--color-quaternary);
    --bg-primary-opacity: var(--color-nonary);
    --bg-secondary-opacity: var(--color-denary);

    --color-opacity:var(--color-opacity-secondary);
  }
  
  
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  