@import url(./variables.css);

.studies-card-list{
    width: 100%;
    background: transparent;
    display: flex;
    margin-left: -16px;
    padding: 3rem 0 3rem 3rem;
    overflow-x: scroll;
    
}

.studies-card-list::-webkit-scrollbar {
    width: 0.1px;
    height: 0.1px;
}

.studies-card-list::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.studies-card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,var(--bg-secondary),var(--bg-secondary) 1px,var(--bg-quaternary) 0,var(--bg-quaternary));
}

.studies-card{
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--bg-primary-opacity);
    box-shadow: -0.2rem 0 1.5rem rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    text-align: center;
}

.studies-card:focus-within~.studies-card, .studies-card:hover~.studies-card {
    transform: translateX(130px);
}

.studies-card:hover {
    transform: translateY(-1rem);
}

.studies-card:not(:first-child) {
    margin-left: -130px;
}

.studies-card:nth-child(5) .studies-card-header h2{
    /* max-height: 150px; */
    text-align:center ;
    font-size: 1rem;

}

.studies-card-header {
    
    margin-bottom: 20px;
}


.studies-card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: var(--text-secondary);
}

.studies-card-header h2 {
    
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.studies-card-header h2:hover {
    background: linear-gradient(90deg,var(--text-ternary),var(--text-quinary));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-body-img{
    width: 100%;
    text-align: center;
}

.card-body-img img {
    transition: 0.3s all ease;
    cursor: pointer;
    width: 45%;
    height: 35%;
}

.card-body-img .ceftificated{
    max-width: 330px;
    max-height: 200px;
    width: 95%;
    height: 35%;
}


.studies-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--text-quinary);
    
}

.studies-card .studies-card-body .card-body-img img:hover{
    transform: scale(0.9);
}


.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 99999;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
  }


.modalContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalImg {
    width: 80%;
    max-width: 700px;
}

.modalTxt {
    text-align: center;
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}


.close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}
.close svg{
    fill: var(--color-secondary);
    width: 5rem;
    height: 5rem;
}

.close svg:hover{
    width: 6rem;
    height: 6rem;
    transition: .3s;
}


.modal.appear {
    opacity: 1;
    pointer-events: all;
}

.modal.appear .modalImg,
.modal.appear .modalTxt {
    animation: zoom 0.3s linear;
}
