@import url(./variables.css);
.contenedor-perfil{
    margin: 30px auto;
    text-align: center;
    width: 15vw;
    height: 15vw;
    min-height: 100px;
    min-width: 100px;
}



.image-perfil{
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../img/2.jpg);
    background-size: cover;
    object-fit: cover;
    border: 4px solid var(--text-secondary);
    background-repeat: no-repeat;
    background-position: center;
}

main{
  
   
   margin-left: 5rem;
   background-image: linear-gradient(to top left, var(--bg-primary-opacity), var(--bg-secondary-opacity));
   
   color: var(--text-primary);
   
   width: calc(100vw - 5.28rem);
   
}


.about-me{
    text-align: center;
    width: 100%;
    padding: 2rem;
    
}

.about_title{
    margin: 2rem auto;
    font-size: 2.5rem;
    width: fit-content;
    color: var(--text-quinary);
    border-bottom-width: 0.2rem;
    border-bottom-color: var(--text-secondary);
    border-bottom-style: solid;
}


.about_copy{
    width: 66vw;
    margin: 1rem auto;
   font-size: 1.4rem;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 2rem;
   text-align: justify;
    
}

.about_copy strong{
    color: var(--text-secondary);
}

.tooltip {
    position: relative;
    display: inline;
    
}
.tooltip .tiptext {
    visibility: hidden;
    width: 5rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    border-radius: 4px;
    padding: 0 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.tooltip:hover .tiptext {
    visibility: visible;
}


@media only screen and (max-width:600px){
    main{
        margin-left: 0;
        width: 100vw;
    }
}


