@import url(./variables.css);


.contenedor-perfil{
    margin: 30px auto;
    text-align: center;
    width: 15vw;
    height: 15vw;
    min-height: 100px;
    min-width: 100px;
}

body{
    background-image: linear-gradient(to top left, var(--bg-primary-opacity), var(--bg-secondary-opacity));
    background-attachment: fixed;
}

.image-perfil{
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../img/2.jpg);
    background-size: cover;
    object-fit: cover;
    border: 4px solid var(--text-secondary);
    background-repeat: no-repeat;
    background-position: center;
}

main{
  
   
   margin-left: 5rem;
   /* background-image: linear-gradient(to top left, var(--bg-primary-opacity), var(--bg-secondary-opacity)); */
   
   color: var(--text-primary);
   
   width: calc(100vw - 5.28rem);
   margin-bottom: 100px;
}

footer{
    
    position: relative;
    margin-left: 5rem; 
    
    width: calc(100vw - 5.28rem);
    height: 10vh;
    background: var(--bg-primary);
}


.about-me{
    text-align: center;
    width: 100%;
    padding: 2rem;
    
}

.about_title{
    margin: 2rem auto;
    font-size: 2.5rem;
    width: fit-content;
    color: var(--text-quinary);
    border-bottom-width: 0.2rem;
    border-bottom-color: var(--text-secondary);
    border-bottom-style: solid;
}


.about_copy{
    width: 66vw;
    margin: 1rem auto;
   font-size: 1.4rem;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 2rem;
   text-align: justify;
    
}

.about_copy strong{
    color: var(--text-secondary);
}

.tooltip {
    position: relative;
    display: inline;
    
}
.tooltip .tiptext {
    visibility: hidden;
    width: 5rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    border-radius: 4px;
    padding: 0 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.tooltip:hover .tiptext {
    visibility: visible;
}

.footer_wave{
    position: absolute;
    bottom: 10vh;
    width: 100%;
}

/* .footer_wave svg{
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,.25));
    box-shadow: 0 -2px ;
} */

.footer_wave svg path{
    
    fill: var(--bg-primary);
}

.footer{
    color: var(--text-primary);
    fill: var(--text-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer p{
    font-weight: bold;
}

.footer ul li{
    display: flex;
    flex-direction: row;
}

.footer ul li a{
    text-decoration: none;
}

.footer ul li a svg{
    margin: 0 15px;
    width: 2rem;
    height: 2rem;
    fill: inherit;
}

.footer ul li a:hover{
    

    fill: var(--text-quinary) ;
    transition: 0.3s;

}

.footer ul li a:hover svg{
    width: 3rem;
    height: 3rem;
}




@media only screen and (max-width:600px){
    main{
        margin-left: 0;
        width: 100vw;
    }

    footer{

        margin-left: 0;
        width: 100vw;
    }
}


