:root{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    --color-primary: #a0d2eb;
    --color-secondary: #E5EAF5;
    --color-ternary:#d0bdf4;
    --color-quaternary:#8458b3;
    --color-quinary: #494d5f;
    --color-senary: #31345A;
    --color-septenary:#23232e;
    --color-octonary:#141418;
    --color-nonary:#f3f3f3;
    --color-denary: #e4e4e4;
    --color-opacity-primary:rgba(255, 255, 255, 0.05);
    --color-opacity-secondary:rgba(0, 0, 0, 0.05);
    

    --text-primary: var(--color-secondary);
    --text-secondary: var(--color-primary);
    --text-ternary: var(--color-secondary);
    --text-quaternary: var(--color-quinary);
    --text-quinary: var(--color-ternary);
    

    --bg-primary: var(--color-quinary);
    --bg-primary-opacity: var(--color-septenary);
    --bg-secondary:var(--color-senary);
    --bg-secondary-opacity: var(--color-octonary);
    --bg-ternary:var(--color-primary);
    --bg-quaternary: var(--bg-secondary) ;
     
    --color-opacity:var(--color-opacity-primary);

    
}